<div class="text-center">
    <h1>TodoList </h1>
</div>
<form ng-submit="todoAdd()" class="form-horizontal">
    <div class="horizontal">
        <div class="col-sm-3"></div>
        <div class="col-sm-6 ">
            <input type="text" ng-model="todoInput" class="form-control" placeholder="Add New"/>
        </div>
        <input type="submit" class="btn btn-primary" value="Add New"/>
    </div>
</form>

<br>

<div ng-repeat="x in todoList">
    <div id="todo">
        <label><input type="checkbox" class="checkbox" ng-model="x.done"></label>
        <span ng-bind="x.todoText"></span>
    </div>
</div>
<div id="remove">

    <p>
        <button ng-click="remove()" class=" btn btn-danger">Remove Marked</button>
    </p>
</div>